streamlit
langchain
langchain-community
langchain-openai
langchain-text-splitters

openai

sentence-transformers
transformers
torch

faiss-cpu

azure-storage-blob

pypdf
python-docx
pandas

python-dotenv

tiktoken

numpy

fastapi
uvicorn

loguru

pytest


langchain-ollama
reportlab

langchain-text-splitters